<div class="sub_menu" id="nav">
  <%= link_to "Vacation", edit_user_vacation_path(@current_user) %> |
  <%= link_to "Vacation Overview", vacations_path %> |
  <%= link_to "Public Holidays", :controller => :holidays %>
</div>
<br/><br/>
