body {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	margin: 0;
}

table {
        text-align: left;
}

ul.reports{
		list-style: none;
		font-size: 18px;
}

ul.reports li{
		padding-bottom: 4px;
}

td.report a, h4 a{
        text-decoration: none;
}

td.report a:hover{
        text-decoration: underline;
}

table tbody tr td, table tbody tr th  {
        padding-right: 20px;
}

table.compact tbody tr td, table.compact tbody tr th  {
        padding-right: 0px;
}

table tbody tr th  {
        background:#EEEEEE none repeat scroll 0 0;
}

a.menu_link {
	text-decoration:none;
	color: #ffffff;
}

a:hover.menu_link {
	text-decoration:none;
	color: #c80000;
}

a img {
        border: none;
}


.menu_item {
	float: left;
	width: 100px;
	padding: 10px;
	border-right: 1px solid #ffffff;
	text-align: center;
}

.error {
	color: #c80000;
}

.notice {
	color: green;
}

.grayed {
        color: #bbbbbb;
}

.content {
	padding: 1em;
}

.time_entry {
	padding-top: 5px;
	padding-bottom: 5px;
}

.week_entries {
	text-align: left;
}

.week_entries_hours {
	width: 60px;
	text-align: center;
}

td.week_entries_hours {
	border: 1px solid;
}

.week_entries_activity {
	text-align: left;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	text-align: left;
}

#logo {
	width: 100%;
	background-color: #dfe5d7;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

#menu {
	float: left;
	width: 100%;
	background-color: #003a8d;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

#main {
	float: left;
	width: 100%;
	border-left: 1px dotted;
	border-right: 1px dotted;
	border-bottom: 1px dotted;
}

#footer {
	float: left;
	clear: left;
	width: 100%;
	text-align: center;
}

#conduct_logo {
	border: 0;
	vertical-align: middle;	
}


/* sub drop down menu */

ul { /* all lists */
    padding: 0;
    margin: 0;
    list-style: none;
    background:#EEEEEE
}

li.menu { /* all list items */
    float: left;
    position: relative;
    padding-right:1em;
}

li.menu a {
    text-decoration:none;
    white-space:nowrap;
    font-size:16px;
}

li.sub a {
    font-size:14px;
}

li.menu ul { /* second-level lists */
    display: none;
    position: absolute;
    top: 1em;
    left: 0;
}

li.menu>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
    top: auto;
    left: auto;
    background:#EEEEEE
}

li.menu:hover ul, li.over ul { /* lists nested under hovered list items */
    display: block;
}