<p>
<%=  link_to "Calender view", :action => 'week' %> |
<%#=  link_to "Month view", :action => 'month' %> 
<%#=  link_to "Summary", :action => 'summary' %> 
<%=  link_to "Listing view", :action => 'listing' %> |
<%=  link_to "Shared entries", :action => 'shared' %>
</p>