<p>
<%=  link_to "Week view", :action => 'week' %> |
<%#=  link_to "Month view", :action => 'month' %> 
<%#=  link_to "Summary", :action => 'summary' %> 
<%=  link_to "Listing", :action => 'listing' %>
</p>