<p>
  <b>Name:</b>
  <%=h @department.name %>
</p>

<p>
  <b>Internal ID:</b>
  <%=h @department.internal_id %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>