<% unless time_entries.empty? %>
	<table class="" width="100%" id='<%= "#{day}_time_entries" %>'>
			<%= render :partial => "time_entries_table_header" %>
		<% time_entries.each do |te| %>
			<%= render :partial => "show_time_entry", :locals => { :time_entry => te } %>
		<% end -%>
	</table>
<% end -%>