<% unless time_entries.empty? %>
	<table width="100%" id='<%= "#{day}_time_entries" %>'>
		<tr>
			<th>Activity</th>
			<th>Hour Type</th>
			<th>Hours</th>
			<th>Notes</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<% time_entries.each do |te| %>
			<% if @editing_id and @editing_id == te.id -%>
				<td colspan="6" style="padding: 0; margin: 0"><%= render :partial => "edit_time_entry", :locals => { :time_entries => time_entries, :day => day } %></td>
			<% else -%>
				<%= render :partial => "time_entry", :object => te %>
			<% end -%>
		<% end -%>
	</table>
<% end -%>