<div id="time_entry_dialog_errors"></div>

<div id="time_entry_form">
	<%= render :partial => 'time_entry_form', :locals => { :user => user, :time_entry => time_entry, :activity => activity } %>
</div>
<div id="existing_time_entries" style="display: none">
	<table id="existing_time_entries_table">
		<thead>
			<tr>
				<th>Hours</th>
				<th>Hour type</th>
				<th>Notes</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody id="existing_time_entry_rows">
			<% time_entries.each do |te| %>
				<tr id="time_entry_row_<%= te.id %>">
					<%= render :partial => 'existing_time_entry', :locals => { :user => user, :time_entry => te } %>
				</tr>
			<% end -%>
		</tbody>
	</table>
</div>