<h1>Review Month
  <%= @current_user.admin ? "for #{h @user.fullname}" : '' %>
</h1>

<p>
	<%=  link_to "Calendar view", user_month_review_path(@current_user, :id => :calendar) %> |
	<%=  link_to "Listing view", user_month_review_path(@current_user, :id => :listing) %>
</p>