<br/>
<ul id="nav">
      <li class="menu"><%= link_to "Activities", activities_url %>
      </li>
      <li class="menu"><%= link_to "Manage Tags", tags_url %>
        <ul>
          <% tag_types.each do |type| %>
            <li class="sub"><%= link_to type.name, :controller => 'tags', :action => 'index', :tag_type => type.id %></li>
          <% end %>
        </ul>
      </li>
      <li class="menu"><%= link_to "Tag Categories", tag_types_url %>
      </li>
</ul>
<% tag_types.size.times do %> <br/> <% end %>

<hr/>