
<h1>Activity Templates</h1>

<%= render :partial => "admin/menu" %>

<div id="activities">
  <%=  render :partial => 'activities', :locals => { :activities => @activities } %>
</div>

  <br/>
<%= link_to "New Activity Template", new_activity_path %>