<table class="regular">
  <tr>
    <th>Customer</th>
    <th>Project</th>
    <th>Hours</th>
  </tr>

  <% sum = 0 %>
  <% project_hours.each do |customer,project, hours| %>
    <tr>
      <td><%= customer.name%></td>
      <td><%= link_to project.name, :action => "project", :project => project %></td>
      <td style="text-align:right"><%= hours %></td>
      <% sum += hours %>
    </tr>
  <% end %>

  <tr style="text-align:right">
    <th colspan="2" style="border-width: 1px; border-top-style: solid;">Total</th>
    <th style="border-width: 1px; border-top-style: solid;"><%= sum %></th>
  </tr>

</table>