<table class="regular" style="min-width: 50%">
  <tr>
    <th style="min-width: 40%">Customer</th>
    <th>Project</th>
    <th style="text-align:right; max-width: 5%">Hours</th>
  </tr>

  <% sum = 0 %>
  <% project_hours.each do |customer,project, hours| %>
    <tr>
      <td><%= customer.name%></td>
      <td><%= link_to project.name, :action => "project", :project => project %></td>
      <td style="text-align:right"><%= hours %></td>
      <% sum += hours %>
    </tr>
  <% end %>
  <tr style="text-align:right">
    <th colspan="3" style="border-width: 1px; border-top-style: solid;"><%= "Total #{sum}" %></th>
  </tr>
</table>