<p>
<%=  link_to "Billing", :action => 'billing' %> |
<%=  link_to "Search", :action => 'search' %> |

<%=  link_to "Summary", :action => 'summary' %> |
<%=  link_to "User overview", :action => 'user' %>
</p>