<div class="sub_menu">
<%=  link_to "Billing", :action => 'billing' %> |
<%=  link_to "Customers", :action => 'customer' %> |
<%=  link_to "Users", :action => 'user' %> |
<%=  link_to "Search", :action => 'search' %>
</div>
