
<h3>Users</h3>


<% if @table.empty? then %>
  <p>sorry, no users</p>

<% else %>

 <%= link_to "pdf", :action => "user_report", :format => "pdf"%>
 <%= link_to "csv", :action => "user_report", :format => "csv"%>
 <%= @table.to_html() -%>
<%  end %>
  
